<p id="notice"><%= notice %></p>

<p>
  <strong>Redemption code:</strong>
  <%= @gift_card.formatted_redemption_code %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@gift_card.amount) %>
</p>

<p>
  <strong>Purchased by:</strong>
  <%= link_to "#{@gift_card.purchaser.firstname || 'UnknownFirstName'} #{@gift_card.purchaser.lastname}", edit_admin_user_path(@gift_card.purchaser) %>
  at <%= @gift_card.created_at.localtime.strftime("%F %I:%M%p") %>
</p>

<% if @gift_card.redeemed? %>
  <p>
    <strong>Redeemed by</strong>
    <%= link_to "#{@gift_card.redeemer.firstname || 'UnknownFirstName'} #{@gift_card.redeemer.lastname}", edit_admin_user_path(@gift_card.redeemer) %>
    at <%= @gift_card.redeemed_at.localtime.strftime("%F %I:%M%p") %>
  </p>
<% else %>
  <p>
    <strong>Not redeemed yet.</strong>
  </p>
<% end %>

<%= link_to 'Edit gift_card', edit_admin_virtual_gift_card_path(@gift_card) %> |
<%= link_to 'Back', admin_virtual_gift_cards_path %>